* {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

body {
  background-color: #6d8e8a;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #99a74b;
}
  
td, th {
  padding: 0;
}

tr {
  line-height: 0;
}

* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
  -webkit-user-drag: none; /* Safari */
  -khtml-user-drag: none; /* Konqueror HTML */
  -moz-user-drag: none; /* Firefox */
  -o-user-drag: none; /* Opera */
  user-drag: none;
}